.app__skills {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__skills-container {
  width: 80%;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;

  @media screen and(max-width:599px) {
    flex-direction: column;
  }

  .app__skills-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 5rem;

    @media screen and(min-width:599px) {
      grid-template-columns: repeat(3, 1fr);
    }

    .app__skills-item {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin: 1rem;
      transition: all 0.3s ease-in-out;

      div {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: #fff;

        img {
          width: 60%;
          height: 60%;
        }
      }
    }
  }
}

div {
  display: flex;
  flex-direction: column;
}

.app__degree {
  display: flex;
  flex-direction: column;
}

.app__institute {
  color: var(--gray-color);
}

.app__skills-exp-item {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 1rem 0;
}

.app__skills-exp-year {
  margin-right: 3rem;

  p {
    font-weight: 800;
    color: var(--secondary-color);
  }
}
